.iceDesignLayoutDark {
    background-image: url(https://img.alicdn.com/tfs/TB1_YvwXTtYBeNjy1XdXXXXyVXa-1680-370.png);
    background-color: #2e323f;
    min-height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    :global {
        .ice-layout {
            width: 100%;
            height: 100vh;
            padding: 0 00px;
            background: transparent;
            position: fixed;
        }

        .next-nav {
            &.next-ver {
                transition: all .2s ease-out;
            }
        }

        .ice-layout-main {
            padding: 20px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .ice-layout-section {
            margin: 0 0 0 0;
        }
    }
}
