.iceDesignProAside {
    &.iceDesignLayoutAside {
        :global {
            .next-nav,
            .next-nav-sub-nav-item {
                background: transparent;
            }
            .next-nav .next-nav-item.next-menu-item {
                background: transparent;
                color: #333;
            }
            .next-nav .next-menu-item-text i {
                margin-right: 8px;
                font-weight: 500;
            }
            .next-nav .next-menu-sub-menu .next-menu-item {
                transition: none;

                &.next-selected {
                    background: #e6f7ff;
                    border-right: 2px solid #1890ff;
                    color: #1890ff;
                }
                &:hover {
                    color: #1890ff;
                }
            }
            .next-nav.next-normal .next-nav-item.next-menu-item {
                &.next-selected {
                    background: #e6f7ff;
                    border-right: 2px solid #1890ff;
                    color: #1890ff;
                }
                &:hover {
                    color: #1890ff;
                }
            }
            .next-menu-item-inner .next-menu-item-text .fa {
                opacity: 1;
                margin-right: 6px;
            }
            .next-nav.next-icon-only .next-menu-item-inner {
                width: 24px;
            }
            .collapse-btn {
                cursor: pointer;
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                color: white;
            }
        }

        .menuBtn {
            position: fixed;
            left: 0;
            top: 82px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 0 6px 6px 0;
            color: #fff;
            background: #2077ff;
            text-align: center;
            cursor: pointer;
            z-index: 9;
            text-decoration: none;
            &:hover {
                color: #e7e7e7;
            }
        }
    }
    &.collapse {
        :global {
            .next-menu-item-inner .next-menu-item-text .fa {
                font-size: 20px !important;
                padding: 0 !important;
            }
        }
    }
    :global {
        .next-icon-arrow-down {
            right: 16px !important;
            &:before {
                content: '';
            }
            &:after {
                content: "";
                width: 8px;
                height: 8px;
                font-size: 8px;
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-right: 1px solid #333;
                border-bottom: 1px solid #333;
                transform: rotate(45deg);
            }
        }
    }
}

// @media screen and (max-width: 1199px) {
//     .iceDesignProAside {
//         &.iceDesignLayoutAside {
//             position: fixed;
//             left: -256px;
//             top: 0px;
//             bottom: 0;
//             padding: 0 20px;
//             background: #2e323e !important;
//             z-index: 9999;
//         }

//         &.openDrawer {
//             transform: translateX(256px);
//             :global {
//                 .logo {
//                     width: 200px;
//                     margin: 20px 0;
//                     text-align: center;
//                 }
//             }
//         }
//     }
// }
