html {
    font-size: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
}
:focus {
    outline: none;
}
.ice-layout-main {
    padding: 12px 16px !important;
}
.container-block {
    margin-bottom: 14px !important;
}